<p id="notice"><%= notice %></p>

<h1>Split A Bill</h1>

<div class = 'patron'>
  Caroline
  <label for="fname">Money Owed:</label>
  <input type="text" id="patron_1"><br><br>
</div>
<div class = 'patron'>
  Matt K
  <label for="fname">Money Owed:</label>
  <input type="text" id="patron_2"><br><br>
</div>
<div class = 'patron'>
  Jo
  <label for="fname">Money Owed:</label>
  <input type="text" id="patron_3"><br><br>
</div>
<div class = 'patron'>
  Dee
  <label for="fname">Money Owed</label>
  <input type="text" id="patron_4"><br><br>
</div>

<h3>Total Bill</h3>
<input class="total_bill" type="text">
<button class="split">SPLIT THE BILL</button>

<h3>I'm feeling lucky</h3>
<button class="cc_roulette">Credit Card Roulette Please!</button>

